.game-container {
  width: 80%;
  max-width: 1400px;
  margin: auto;
  text-align: center;

  & h1 {
    margin: 0;
  }
}

.scoreboard {
  display: flex;
  justify-content: space-evenly
}

.card-grid {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 20%;
  height: 150px;
  padding: 10px;
  border: 1px solid white;

  &:hover {
    background-color: rgb(61, 61, 84);
  }
}

